@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');
/* font-family: 'Rajdhani', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rajdhani', sans-serif;
}

p {
  font-size: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.app:before {
  content: '';
  background: url('./assets/pexels-sebastian-voortman-189349.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: rgba(248, 248, 248, 0.78);
  font-weight: 300;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 3.5px;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}


.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.app .bottom p {
  font-size: 1.3rem;
  font-weight: 500;
}

.app .bottom .bottom-describ {
  font-size: 1rem;
  font-weight: 300;
}